services:
  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage

  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_NUM_CTX=4096
      - OLLAMA_KEEP_ALIVE=24h
    volumes:
      - ollama_data:/root/.ollama

  reranker:
    image: ghcr.io/huggingface/text-embeddings-inference:cpu-1.8
    container_name: reranker
    command: --model-id cross-encoder/ms-marco-MiniLM-L-6-v2
    ports:
      - "8080:80"
    volumes:
      - reranker_data:/data

volumes:
  ollama_data:
    name: ollama_data
  qdrant_data:
    name: qdrant_data
  reranker_data:
    name: reranker_data
