services:
  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  reranker:
    image: ghcr.io/huggingface/text-embeddings-inference:cpu-1.5
    container_name: reranker
    command: --model-id BAAI/bge-reranker-v2-m3
    ports:
      - "8080:80"
    volumes:
      - reranker_data:/data

volumes:
  ollama_data:
    name: ollama_data
  qdrant_data:
    name: qdrant_data
  reranker_data:
    name: reranker_data
